<template>
  <div class="case-study-area about-bg2 pt-100 pb-70">
    <div class="container">
      <div class="section-title text-center">
        <span class="sp-color2">Case Study</span>
        <h2>Reads Now Our Recent Projects Work</h2>
      </div>

      <div class="row justify-content-center pt-45">
        <div class="col-lg-4 col-sm-6" v-for="item in items" :key="item.id">
          <div class="case-study-item2">
            <i :class="['icon-services', item.icon]"></i>
            <div class="content">
              <h3>
                <router-link to="/case-study-details">{{
                  item.title
                }}</router-link>
              </h3>
              <p>{{ item.shortDesc }}</p>
              <router-link to="/case-study-details" class="more-btn">
                <i class="bx bx-right-arrow-alt"></i>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CaseStudy",
  data() {
    return {
      items: [
        {
          id: 1,
          icon: "flaticon-consultant",
          title: "Business Solution",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra risus turpis, non auctor risus dignissim ut. Integer porttitor libero id ante elementum imperdiet.",
        },
        {
          id: 2,
          icon: "flaticon-web-development",
          title: "Web Development",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra risus turpis, non auctor risus dignissim ut. Integer porttitor libero id ante elementum imperdiet.",
        },
        {
          id: 3,
          icon: "flaticon-stats",
          title: "Database Security",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra risus turpis, non auctor risus dignissim ut. Integer porttitor libero id ante elementum imperdiet.",
        },
      ],
    };
  },
};
</script>