<template>
  <div class="security-area pt-100 pb-70">
    <div class="container">
      <div class="section-title text-center">
        <span class="sp-color2">IT Security & Computing</span>
        <h2>
          Searching for a Solution! We Provide Truly Prominent IT Solutions
        </h2>
      </div>
      <div class="row pt-45 justify-content-center">
        <div class="col-lg-4 col-sm-6" v-for="card in cards" :key="card.id">
          <div class="security-card">
            <i :class="card.icon"></i>
            <h3>
              <router-link to="/case-study-details">{{
                card.title
              }}</router-link>
            </h3>
            <p>{{ card.shortDesc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ITSecurity",
  data() {
    return {
      cards: [
        {
          id: 1,
          icon: "flaticon-cyber-security",
          title: "Business Security",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.",
        },
        {
          id: 2,
          icon: "flaticon-computer",
          title: "Manage IT Service",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.",
        },
        {
          id: 3,
          icon: "flaticon-effective",
          title: "Product Analysis",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.",
        },
        {
          id: 4,
          icon: "flaticon-implement",
          title: "Analytic Solution",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.",
        },
        {
          id: 5,
          icon: "flaticon-consulting",
          title: "Finest Quality",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.",
        },
        {
          id: 6,
          icon: "flaticon-consultant",
          title: "Risk Management",
          shortDesc:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.",
        },
      ],
    };
  },
};
</script>