<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Blog Details" mainTitle="Blog Details" />
  <BlogDetails />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import BlogDetails from "../BlogDetails/BlogDetails";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "BlogDetailsPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    BlogDetails,
    MainFooter,
  },
};
</script>