<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Blog Style One" mainTitle="Blog Style One" />
  <BlogContent />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import BlogContent from "../Blog/BlogContent";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "BlogPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    BlogContent,
    MainFooter,
  },
};
</script>