<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Case Study Details" mainTitle="Case Study Details" />
  <CaseStudyDetails />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import CaseStudyDetails from "../CaseStudyDetails/CaseStudyDetails";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "CaseStudyDetailsPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    CaseStudyDetails,
    MainFooter,
  },
};
</script>