<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Case Study" mainTitle="Case Study" />
  <CaseStudy />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import CaseStudy from "../CaseStudy/CaseStudy";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "CaseStudyPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    CaseStudy,
    MainFooter,
  },
};
</script>