<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="FAQ" mainTitle="FAQ" />
  <FaqAccordion />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import FaqAccordion from "../Faq/FaqAccordion";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "FaqPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    FaqAccordion,
    MainFooter,
  },
};
</script>