<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Forget Password" mainTitle="Forget Password" />
  <ForgetPassword />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import ForgetPassword from "../ForgetPassword/ForgetPassword";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "ForgetPasswordPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    ForgetPassword,
    MainFooter,
  },
};
</script>