<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Log In" mainTitle="Log In" />
  <LogIn />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import LogIn from "../LogIn/LogIn";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "LogInPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    LogIn,
    MainFooter,
  },
};
</script>