<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Privacy Policy" mainTitle="Privacy Policy" />
  <PrivacyPolicy />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import PrivacyPolicy from "../PrivacyPolicy/PrivacyPolicy";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "PrivacyPolicyPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    PrivacyPolicy,
    MainFooter,
  },
};
</script>