<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Register" mainTitle="Register" />
  <RegisterContent />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import RegisterContent from "../Register/RegisterContent";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "RegisterPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    RegisterContent,
    MainFooter,
  },
};
</script>