<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Service Details" mainTitle="Service Details" />
  <ServiceDetails />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import ServiceDetails from "../ServiceDetails/ServiceDetails";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "ServiceDetailsPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    ServiceDetails,
    MainFooter,
  },
};
</script>