<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Services Style Two" mainTitle="Services Style Two" />
  <ServicesContent />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import ServicesContent from "../ServicesTwo/ServicesContent";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "ServicesTwoPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    ServicesContent,
    MainFooter,
  },
};
</script>