<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Services Style One" mainTitle="Services Style One" />
  <ServicesContent />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import ServicesContent from "../Services/ServicesContent";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "ServicesPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    ServicesContent,
    MainFooter,
  },
};
</script>