<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Team" mainTitle="Team" />
  <OurTeam />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import OurTeam from "../Team/OurTeam";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "TeamPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    OurTeam,
    MainFooter,
  },
};
</script>