<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Terms & Conditions" mainTitle="Terms & Conditions" />
  <TermsConditions />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import TermsConditions from "../TermsConditions/TermsConditions";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "TermsConditionsPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    TermsConditions,
    MainFooter,
  },
};
</script>