<template>
  <TopHeader className="container" />
  <MainNavbar className="container" />
  <PageTitle pageTitle="Testimonials" mainTitle="Testimonials" />
  <OurClients class="clients-area-two" />
  <BrandLogo className="brand-area-two" />
  <OurTeam />
  <MainFooter />
</template>

<script>
import TopHeader from "../Layouts/TopHeader";
import MainNavbar from "../Layouts/MainNavbar";
import PageTitle from "../Common/PageTitle";
import OurClients from "../Common/OurClients";
import BrandLogo from "../Common/BrandLogo";
import OurTeam from "../Testimonials/OurTeam";
import MainFooter from "../Layouts/MainFooter";

export default {
  name: "TestimonialsPage",
  components: {
    TopHeader,
    MainNavbar,
    PageTitle,
    OurClients,
    BrandLogo,
    OurTeam,
    MainFooter,
  },
};
</script>