<template>
  <div id="productos" class="services-area pt-100 pb-70">
    <div class="container">
      <div class="section-title text-center">
        <span>Nuestros catálogos</span>
        <!-- <h2>Proveedores</h2> -->
        <p class="margin-auto">
          Catálogos de los diferentes proveedores con los que trabajamos.
        </p>
      </div>
      <div class="row pt-45 justify-content-center">
        <div class="col-lg-3 col-sm-6">
          <div class="services-card">
            <img src="../../assets/images/services-pedro/TecsoledLogotipo.jpg" alt="Images" height="50" />
            <h3>
              Tecsoled
            </h3>
            <p>Productos y servicios de iluminación lineal basada en tecnología LED.</p>
            <a href="https://tecsoled.com/catalogo-get-ready" target="_blank" class="learn-btn">
              Ver Catálogo
              <i class="bx bx-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="services-card">
            <img src="../../assets/images/services-pedro/bpm-logo.svg" alt="Images" height="50" />
            <h3>
              Bpmlighting
            </h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendauctor nisi el.</p>
            <a href="https://bpmlighting.com/catalogue/downloads/BPM-WORK-2023.06.01.pdf" target="_blank" class="learn-btn">
              Ver Catálogo
              <i class="bx bx-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="services-card">
            <img src="../../assets/images/services-pedro/logo-dark.png" alt="Images" height="50" />
            <h3>
              Kohl-lighting
            </h3>
            <p>Presentamos una colección que despunta con el lema “Light is life”; porque la luz es vida.</p>
            <a href="http://kohl-lighting.com/catalogo/" target="_blank" class="learn-btn">
              Ver Catálogo
              <i class="bx bx-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="services-card">
            <img src="../../assets/images/services-pedro/algshop_logo_1.svg" alt="Images" height="50" />
            <h3>
              Algsa
            </h3>
            <p>En ALG nos adaptamos al cliente en la búsqueda del producto idóneo.</p>
            <a href="https://algsa.es/view/pdf/descargas/LightED-2023-sintarifa.pdf" target="_blank" class="learn-btn">
              Ver Catálogo
              <i class="bx bx-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="services-card">
            <img src="../../assets/images/services-pedro/arlus-logo-2.png" alt="Images" height="50" />
            <h3>
              Arlús Iluminación
            </h3>
            <p>Especialistas en grandes infraestructuras.</p>
            <a href="https://arlus.es/wp-content/uploads/arlus_catalogo-web.pdf" target="_blank" class="learn-btn">
              Ver Catálogo
              <i class="bx bx-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="service-shape">
      <img src="../../assets/images/shape/service-shape1.png" alt="Images" />
    </div>
  </div>
</template>

<script>
export default {
  name: "OurServices",
  data() {
    return {
      services: [
        {
          id: 1,
          icon: "flaticon-consultant",
          title: "",
          img: "",
          href: "",
          shortDesc:
            "",
        },
        {
          id: 2,
          icon: "flaticon-consulting",
          title: "",
          img: "",
          href: "",
          shortDesc:
            "",
        },
        {
          id: 3,
          icon: "flaticon-web-development",
          title: "",
          img: "",
          href: "",
          shortDesc:
            "",
        },
        {
          id: 4,
          icon: "flaticon-stats",
          title: "",
          img: "",
          href: "",
          shortDesc:
            "",
        },
      ],
    };
  },
};
</script>