<template>
  <div :class="['navbar-area', { sticky: isSticky }]" id="navbar">
    <div class="main-nav">
      <div :class="cFluid">
        <div :class="className">
          <nav class="navbar navbar-expand-lg navbar-light">
            <router-link class="navbar-brand" to="/">
              <img
                src="../../assets/images/logos/logoNombreBlue.png"
                class="logo-one"
                alt="Logo"
              />
              <img
                src="../../assets/images/logos/logoNombreBlue.png"
                class="logo-two"
                alt="Logo"
              />
            </router-link>
            <div
              class="navbar-toggler"
              @click="show = !show"
              :aria-pressed="show ? 'true' : 'false'"
              v-bind:class="{ show: button_show_state }"
              v-on:click="button_show_state = !button_show_state"
            >
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </div>

            <div class="collapse navbar-collapse" :class="{ show: show }">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a @click="scrollToTop()" class="nav-link">
                    Inicio
                  </a>
                </li>
                
                <li class="nav-item">
                  <a @click="scrollInto('sobre-nosotros')" class="nav-link">
                    Sobre nosotros
                  </a>
                </li>
                
                <!-- <li class="nav-item">
                  <a href="#" class="nav-link">
                    Pages
                    <i class="bx bx-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <router-link to="/team" class="nav-link">
                        Team
                      </router-link>
                    </li>
                    <li class="nav-item">
                      <router-link to="/testimonials" class="nav-link">
                        Testimonials
                      </router-link>
                    </li>
                    <li class="nav-item">
                      <router-link to="/faq" class="nav-link">
                        FAQ
                      </router-link>
                    </li>

                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        Case Study
                        <i class="bx bx-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <router-link to="/case-study" class="nav-link">
                            Case Study
                          </router-link>
                        </li>
                        <li class="nav-item">
                          <router-link
                            to="/case-study-details"
                            class="nav-link"
                          >
                            Case Study Details
                          </router-link>
                        </li>
                      </ul>
                    </li>

                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        User
                        <i class="bx bx-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="nav-item">
                          <router-link to="/log-in" class="nav-link">
                            Log In
                          </router-link>
                        </li>
                        <li class="nav-item">
                          <router-link to="/register" class="nav-link">
                            Registration
                          </router-link>
                        </li>
                        <li class="nav-item">
                          <router-link to="/forget-password" class="nav-link">
                            Forget Password
                          </router-link>
                        </li>
                      </ul>
                    </li>

                    <li class="nav-item">
                      <router-link to="/terms-condition" class="nav-link">
                        Terms & Conditions
                      </router-link>
                    </li>

                    <li class="nav-item">
                      <router-link to="/privacy-policy" class="nav-link">
                        Privacy Policy
                      </router-link>
                    </li>

                    <li class="nav-item">
                      <router-link to="/coming-soon" class="nav-link">
                        Coming Soon
                      </router-link>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Services
                    <i class="bx bx-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <router-link to="/services" class="nav-link">
                        Services Style One
                      </router-link>
                    </li>
                    <li class="nav-item">
                      <router-link to="/services-two" class="nav-link">
                        Services Style Two
                      </router-link>
                    </li>
                    <li class="nav-item">
                      <router-link to="/service-details" class="nav-link">
                        Service Details
                      </router-link>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a href="#" class="nav-link">
                    Blog
                    <i class="bx bx-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <router-link to="/blog" class="nav-link">
                        Blog Style One
                      </router-link>
                    </li>
                    <li class="nav-item">
                      <router-link to="/blog-two" class="nav-link">
                        Blog Style Two
                      </router-link>
                    </li>
                    <li class="nav-item">
                      <router-link to="/blog-details" class="nav-link">
                        Blog Details
                      </router-link>
                    </li>
                  </ul>
                </li> -->

                <li class="nav-item">
                  <a @click="scrollInto('productos')" class="nav-link">
                    Catálogos
                  </a>
                </li>

                <li class="nav-item">
                  <a @click="scrollInto('contacto')" class="nav-link">
                    Contacto
                  </a>
                </li>
              </ul>
            </div>

            <!-- <div :class="['nav-side', navSideMt]">
              <div class="nav-side-item">
                <div
                  class="search-box"
                  @click="active = !active"
                  :aria-pressed="active ? 'true' : 'false'"
                  v-bind:class="{ active: button_active_state }"
                  v-on:click="button_active_state = !button_active_state"
                >
                  <i class="bx bx-search"></i>
                </div>
                <div class="search-side-widget">
                  <form class="search-side-form">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Search..."
                    />
                    <button type="submit">
                      <i class="bx bx-search"></i>
                    </button>
                  </form>
                </div>
              </div>

              <div class="nav-side-item">
                <div class="get-btn">
                  <router-link
                    to="/contact"
                    class="default-btn btn-bg-two border-radius-50"
                  >
                    Get A Quote
                    <i class="bx bx-chevron-right"></i>
                  </router-link>
                </div>
              </div>
            </div> -->
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Overlay -->
  <!-- <div class="search-overlay" :class="{ search_overlay_active: active }">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="search-layer"></div>
        <div class="search-layer"></div>
        <div class="search-layer"></div>

        <div class="search-close" @click="active = !active">
          <span class="search-close-line"></span>
          <span class="search-close-line"></span>
        </div>

        <div class="search-form">
          <form>
            <input
              type="text"
              class="input-search"
              placeholder="Search here..."
            />
            <button type="submit"><i class="bx bx-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Search Overlay -->
</template>

<script>
export default {
  name: "MainNavbar",
  props: ["cFluid", "className", "navSideMt"],
  data() {
    return {
      isSticky: false,
      show: false,
      button_show_state: false,
      active: false,
      button_active_state: false,
    };
  },
  methods: {
    scrollInto(elementId) {
      const section = document.querySelector(`#${elementId}`);
      section.scrollIntoView({
        behavior: 'smooth'
      });
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    },
  },
  mounted() {
    const that = this;
    window.addEventListener("scroll", () => {
      let scrollPos = window.scrollY;
      if (scrollPos >= 100) {
        that.isSticky = true;
      } else {
        that.isSticky = false;
      }
    });
  },
};
</script>