<template>
  <footer class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top pt-100 pb-70">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="footer-widget">
              <div class="footer-logo">
                <router-link to="/">
                  <img
                    src="../../assets/images/logos/footer-logo.png"
                    alt="Images"
                  />
                </router-link>
              </div>
              <p>
                Proin gravida nibh vel velit auctor aliquet. Aenean
                sollicitudin, lorem quis bibendum auct.Aenean, lorem quis
                bibendum auct. Aenean sollicitudin lorem.
              </p>
              <div class="footer-call-content">
                <h3>Talk to Our Support</h3>
                <span>
                  <a href="tel:+1002-123-4567">+1 002-123-4567</a>
                </span>
                <i class="bx bx-headphone"></i>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-sm-6">
            <div class="footer-widget pl-2">
              <h3>Services</h3>
              <ul class="footer-list">
                <li>
                  <router-link to="/service-details" target="_blank">
                    <i class="bx bx-chevron-right"></i>
                    IT Consultancy
                  </router-link>
                </li>
                <li>
                  <router-link to="/service-details" target="_blank">
                    <i class="bx bx-chevron-right"></i>
                    Business Solution
                  </router-link>
                </li>
                <li>
                  <router-link to="/service-details" target="_blank">
                    <i class="bx bx-chevron-right"></i>
                    Digital Services
                  </router-link>
                </li>
                <li>
                  <router-link to="/service-details" target="_blank">
                    <i class="bx bx-chevron-right"></i>
                    Business Reform
                  </router-link>
                </li>
                <li>
                  <router-link to="/service-details" target="_blank">
                    <i class="bx bx-chevron-right"></i>
                    Web Development
                  </router-link>
                </li>
                <li>
                  <router-link to="/service-details" target="_blank">
                    <i class="bx bx-chevron-right"></i>
                    Cloud Computing
                  </router-link>
                </li>
                <li>
                  <router-link to="/service-details" target="_blank">
                    <i class="bx bx-chevron-right"></i>
                    Data Analysis
                  </router-link>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget pl-5">
              <h3>Our Blog</h3>
              <ul class="footer-blog">
                <li>
                  <router-link to="/blog-details">
                    <img
                      src="../../assets/images/blog/blog-img-footer.jpg"
                      alt="Images"
                    />
                  </router-link>
                  <div class="content">
                    <h3>
                      <router-link to="/blog-details">
                        Product Idea Solution For New Generation
                      </router-link>
                    </h3>
                    <span>04 Dec 2023</span>
                  </div>
                </li>

                <li>
                  <router-link to="/blog-details">
                    <img
                      src="../../assets/images/blog/blog-img-footer2.jpg"
                      alt="Images"
                    />
                  </router-link>
                  <div class="content">
                    <h3>
                      <router-link to="/blog-details">
                        New Device Invention for Digital Platform
                      </router-link>
                    </h3>
                    <span>07 Dec 2023</span>
                  </div>
                </li>

                <li>
                  <router-link to="/blog-details">
                    <img
                      src="../../assets/images/blog/blog-img-footer3.jpg"
                      alt="Images"
                    />
                  </router-link>
                  <div class="content">
                    <h3>
                      <router-link to="/blog-details">
                        Business Strategy Make His Goal Acheive
                      </router-link>
                    </h3>
                    <span>10 Dec 2023</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="footer-widget">
              <h3>Newsletter</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum finibus molestie molestie. Phasellus ac rutrum massa,
                et volutpat nisl. Fusce ultrices suscipit nisl.
              </p>
              <div class="newsletter-area">
                <form class="newsletter-form" method="POST">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter Your Email"
                    name="EMAIL"
                    required
                  />
                  <button class="subscribe-btn" type="submit">
                    <i class="bx bx-paper-plane"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copy-right-area">
        <div class="copy-right-text">
          <p>
            Copyright ©
            {{ currentYear }}
            Tecsa. All Rights Reserved by
            <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "MainFooter",
  data() {
    return {
      currentYear: new Date().getFullYear(),
    };
  },
};
</script>