<template>
  <header class="top-header top-header-bg">
    <div :class="cFluid">
      <div :class="className">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6">
            <div class="top-head-left">
              <div class="top-contact">
                <h3>
                  Contacto :
                  <a href="Pedro Soria - tel:+34 647451475">Pedro Soria +34 647451475</a>
                </h3>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-6">
            <div class="top-header-right">
              <div class="top-header-social">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <i class="bx bxl-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="bx bxl-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                      <i class="bx bxl-linkedin-square"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="bx bxl-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <div class="language-list">
                <select class="language-list-item">
                  <option>English</option>
                  <option>العربيّة</option>
                  <option>Deutsch</option>
                  <option>Português</option>
                  <option>简体中文</option>
                </select>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "TopHeader",
  props: ["cFluid", "className"],
};
</script>