<template>
  <div class="choose-area-tow pt-100 pb-70">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="choose-content-two">
            <div class="section-title">
              <span class="sp-color2">Why Choose Us</span>
              <h2>15 Years of Experience for Software Innovation</h2>
              <p>
                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio
                sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                ipsum auctor a ornare odio.
              </p>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-6">
                <div class="choose-content-card">
                  <i class="flaticon-practice"></i>
                  <h3>Experience Employment</h3>
                  <p>
                    Quisque placerat vitae lacus ut sceleris queusce luctus odio
                    ac nibh luctus, in porttitor.
                  </p>
                </div>
              </div>

              <div class="col-lg-12 col-sm-6">
                <div class="choose-content-card">
                  <i class="flaticon-help"></i>
                  <h3>Quick Support Replay</h3>
                  <p>
                    Quisque placerat vitae lacus ut sceleris queusce luctus odio
                    ac nibh luctus, in porttitor.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="choose-img-two">
            <img
              src="../../assets/images/choose-img/choose-img1.jpg"
              alt="About Images"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WhyChooseUs",
};
</script>