<template>
  <div :class="['ptb-100', className]">
    <div class="container">
      <swiper
        :slidesPerView="'auto'"
        :grabCursor="true"
        :freeMode="true"
        :spaceBetween="60"
        :speed="11000"
        :a11y="false"
        :loop="true"
        :autoplay="{
          delay: 0.5,
          disableOnInteraction: false,
        }"
        :breakpoints="{
          0: {
            slidesPerView: 2,
          },
          768: {
            slidesPerView: 3,
          },
          1024: {
            slidesPerView: 5,
          },
        }"
        :modules="modules"
        class="brand-slider"
      >
        <swiper-slide
          class="text-center"
          v-for="brand in brandItem"
          :key="brand.id"
        >
          <div class="brand-item">
            <img :src="brand.logoOne" class="brand-logo-one" alt="Images" />
            <img :src="brand.logoTwo" class="brand-logo-two" alt="Images" />
          </div>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay } from "swiper";

export default {
  name: "BrandLogo",
  props: ["className"],
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      brandItem: [
        {
          id: 1,
          logoOne: require("../../assets/images/brand-logo/brand-logo1.png"),
          logoTwo: require("../../assets/images/brand-logo/brand-style1.png"),
        },
        {
          id: 2,
          logoOne: require("../../assets/images/brand-logo/brand-logo2.png"),
          logoTwo: require("../../assets/images/brand-logo/brand-style2.png"),
        },
        {
          id: 3,
          logoOne: require("../../assets/images/brand-logo/brand-logo3.png"),
          logoTwo: require("../../assets/images/brand-logo/brand-style3.png"),
        },
        {
          id: 4,
          logoOne: require("../../assets/images/brand-logo/brand-logo4.png"),
          logoTwo: require("../../assets/images/brand-logo/brand-style4.png"),
        },
        {
          id: 5,
          logoOne: require("../../assets/images/brand-logo/brand-logo5.png"),
          logoTwo: require("../../assets/images/brand-logo/brand-style5.png"),
        },
        {
          id: 6,
          logoOne: require("../../assets/images/brand-logo/brand-logo3.png"),
          logoTwo: require("../../assets/images/brand-logo/brand-style3.png"),
        },
      ],
    };
  },
  setup() {
    return {
      modules: [Autoplay],
    };
  },
};
</script>