<template>
  <div class="counter-area pb-70">
    <div class="container">
      <div class="section-title text-center">
        <span class="sp-color2">Numbers Are Talking</span>
        <h2>Let’s Check Our Business Growth and Success Story</h2>
        <p>
          Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
          ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
          vulputate cursus a sit amet mauris Morbi accumsan ipsum velit.
        </p>
      </div>
      <div class="row pt-45">
        <div
          class="col-lg-3 col-6 col-md-3"
          v-for="count in counter"
          :key="count.id"
        >
          <div class="counter-another-content">
            <i :class="count.icon"></i>
            <h3>{{ count.number }}+</h3>
            <span>{{ count.title }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="counter-shape">
      <div class="shape1">
        <img src="../../assets/images/shape/shape1.png" alt="Images" />
      </div>
      <div class="shape2">
        <img src="../../assets/images/shape/shape2.png" alt="Images" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NumbersAreTalking",
  data() {
    return {
      counter: [
        {
          id: 1,
          icon: "flaticon-web-development",
          number: "4205",
          title: "Delivered Goods",
        },
        {
          id: 2,
          icon: "flaticon-consulting-1",
          number: "245",
          title: "IT Consulting",
        },
        {
          id: 3,
          icon: "flaticon-startup",
          number: "3550",
          title: "Fully Launched",
        },
        {
          id: 4,
          icon: "flaticon-tick",
          number: "6545",
          title: "Project Completed",
        },
      ],
    };
  },
};
</script>