/* @import url(c:\Users\fernando.garat\Downloads\PaginaPedroSoria\tecsa\src\assets\css\boxicons.min.css);
@import url(c:\Users\fernando.garat\Downloads\PaginaPedroSoria\tecsa\src\assets\fonts\flaticon.css);
@import url(c:\Users\fernando.garat\Downloads\PaginaPedroSoria\tecsa\src\assets\css\meanmenu.css);
@import url(c:\Users\fernando.garat\Downloads\PaginaPedroSoria\tecsa\src\assets\css\style.css);
@import url(c:\Users\fernando.garat\Downloads\PaginaPedroSoria\tecsa\src\assets\css\responsive.css);
@import url(c:\Users\fernando.garat\Downloads\PaginaPedroSoria\tecsa\src\assets\css\theme-dark.css); */
/*# sourceMappingURL=custom.css.map */